/* RegisterPage.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #fff;
  }
  .settings-prof{
    display: flex;
    width: 79%;
    overflow: auto;
    justify-content: space-between;
    padding: 12px;
  }

.settings-prof p{
  float: right;
  text-align: center;
  font-size: 17px;
  cursor: pointer;
}
  .register-container h3 p {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  .container{
    max-width: 80%;
    display: flex;
    border: solid 1px rgb(204, 203, 203);
    border-radius: 15px;
    background-color: white;
  }
  .profile-image{
    width: 30%;
    padding: 12px;
    margin-left: 20px;
  }
  .profile-image p{
    margin: 12px;
  }
  .profile-image img{
    max-width: 70%;
    max-height: 70%;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .profile-image label{
    width: 80%;
    align-items: center;
    padding: 13px;
    text-align: center;
  }
  .register-form {
    width: 100%;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .register-form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  .register-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
.custom-file-upload{
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  color: white;
  background-color: #0d9712;
  border-radius: 4px;
  margin-top: 10px;
  text-align: center;
}
  .coutry-state{
    display: flex;
    padding: 5px;
    
  }
  .country-state label{
    margin: 9px;
  }

  .country-item label{
    padding: 5px;
  }

  .country-item{
    display: flex;
  }
  
  .checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .checkbox-container input {
    margin-right: 10px;
  }
  
  .checkbox-container label {
    margin: 0;
  }
  
  .checkbox-container a {
    color: #4caf50;
    text-decoration: none;
  }
  
  .checkbox-container a:hover {
    text-decoration: underline;
  }
  
  .register-button {
    width: 100%;
    padding: 10px;
    background-color:  #0d9712;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .register-button:hover {
    background-color: #45a049;
  }
  
  @media (max-width: 768px) {
    .register-form {
      width: 90%;
    }
  }
  
  @media (max-width: 580px) {
    .register-form {
      padding: 15px;
    }

  .profile-image{
    width: 90%;
  }
  .profile-image img{
    align-items: center;
    margin-left: 30px;
  }
  .profile-image label{
    width: 100%;
  }
.country-state label {
  display: block;
}
  .country-item{
    display: block;
  }

  .custom-file-upload{
    width: 100%;
  }

    .container{
      display: block;
    }
  
    .register-button {
      font-size: 14px;
    }
  }
  